h1 {
  color: #000080;
  background-color: ;
  width: 100%;
  /* text-align: center;
  float: flex;
  align-items: center ; */  
}

/* header */

.icon-img{
  border-radius: 50%;
  width: 70%;
  height: 70%;
  padding: 20px;
}